.DS_Store
DerivedData/
build/
dist/
__pycache__/
*.pyc
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.dSYM.zip
*.dSYM
*.ipa
*.pkg
*.dmg
Config/Local.xcconfig
tools/release/.env
